In [62]:
import pandas as pd
import numpy as np

In [63]:
columns = ['Vendas','Escolaridade','Experiencia']

In [64]:
ven = np.array([200,240,250,300,310,320,325,330])
esc = np.array([2,0,3,5,4,3,4,5])
exp = np.array([4,6,4,5,4,5,6,8])

In [65]:
analise = pd.DataFrame(np.column_stack([ven, esc, exp]), 
                               columns=columns)

In [66]:
analise.T

                0    1    2    3    4    5    6    7
Vendas        200  240  250  300  310  320  325  330
Escolaridade    2    0    3    5    4    3    4    5
Experiencia     4    6    4    5    4    5    6    8

In [67]:
from sklearn import linear_model

In [68]:
regr = linear_model.LinearRegression()

In [69]:
y = analise.pop('Vendas')
X = analise

In [70]:
X

   Escolaridade  Experiencia
0             2            4
1             0            6
2             3            4
3             5            5
4             4            4
5             3            5
6             4            6
7             5            8

In [71]:
regr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [72]:
y_pred = regr.predict(X)

In [73]:
print("Mean squared error: %.2f"
      % mean_squared_error(y, y_pred))

Mean squared error: 735.22

In [74]:
print('Variance score: %.2f' % r2_score(y, y_pred))

Variance score: 0.64